.card {
    max-width: 1000px;
    min-width: 600px;
    padding-top: 10%
}
.card-actions {
    text-align: center;
}
.avatar {
    background-image: url('../assets/avatar.jpg');
    background-size: cover;
}